.container1{
    height: 70vh;
    width: 22%;
    background-color: #00000080;
    position: absolute;
    right: 30px;
    top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.section{
    display: flex;
    height: 15%;
    align-items: center;
    background-color: #000000; 
}
.section:hover{
    background-color: #c0c0c0;
    color: black;
}
.PrfleImg{
    opacity: 0.6;
    height: 80%;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    align-items: center;
    background-color: #2c2929;
}
.section1:hover{
    background-color: #c0c0c0;
}
.section1Txt{
    margin-bottom: 10px;
}
.section2{
    display: flex;
    height: 13%;
    align-items: center;
    border-top: 1px solid black;
}
.section2:hover{
    background-color: #c0c0c0;
}
.logos{
    margin-right: 40px;
    margin-left: 50px;
}
.Txt{
    color: #ffffff;
}

